---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
        <main class="wrap">
            <div class="noteboard">
                <div class='dashed-gradient'></div>
                <div class="border">
                    <div class="page">
                        <div class="paper">
                            <div class="body-text">
                            <div class="heading"></div>	   
                            <main>
                                <section>
                                    <slot />                                  
                                </section>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </main>
	</body>
</html>

<style>		
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li {
        width: 100%;
    }
    ul li * {
        text-decoration: none;
        transition: 0.2s ease;
    }
    ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }
    ul li:first-child img {
        width: 100%;
    }
    ul li:first-child .title {
        font-size: 2.369rem;
    }
    ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
    }
    ul li a {
        display: block;
    }
    .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
    }
    ul li a:hover h4,
    ul li a:hover .date {
        color: rgb(var(--accent));
    }
    ul a:hover img {
        box-shadow: var(--box-shadow);
    }
    @media (max-width: 720px) {
        ul {
            gap: 0.5em;
        }
        ul li {
            width: 100%;
            text-align: center;
        }
        ul li:first-child {
            margin-bottom: 0;
        }
        ul li:first-child .title {
            font-size: 1.563em;
        }
    }

    .wrap {
        background-repeat: no-repeat;
        width: 100%;
        margin: 0 auto;
        background-position: top;
        background: url('http://localhost:4321/mondstadt.png');
        background-attachment: fixed;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .dashed-gradient {
        height: calc(100% - 18px);
        width: calc(100% - 12px);
        background-image: linear-gradient(to right, #cda68de6 55%, transparent 45%), linear-gradient(to right, #cda68de6 55%, transparent 45%), linear-gradient(to bottom, #cda68de6 55%, transparent 45%), linear-gradient(to bottom, #cda68de6 55%, transparent 45%);
        background-position: left top, left bottom, left top, right top;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 28px 2px, 28px 2px, 2px 28px, 2px 28px;
        position: absolute;
        top: 13px;
        left: 6px;
        pointer-events: none;
    }

    .body-text {
        color: #846246;
        font-family: 'Roboto';
        font-size: 18px;
        padding: 20px 30px;
        line-height: 1.5;
    }

    .quote {
        font-style: italic;
        padding: 0 30px;
        font-size: 16px;
    }

    .heading {
        font-weight: bold;
        font-size: 20px;
    }

    .corner {
        width: 150px;
        height: 100px;
        border: 26px solid grey;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-right-radius: 0 !important;
        position: absolute;
        border-bottom-left-radius: 0 !important;
        top: 0;
        left: 0;
    }

    .noteboard {
        max-width: 61rem;
        margin: 0 auto;
        border-radius: 20px;
        padding: 18px 15px;
        border: 1px solid #D1A797;
        position: relative;
        background: linear-gradient(36deg, #B57D62 0%, #B58766 100%);
    }

    .border {
        width: 100%;
        height: 100%;
        background: linear-gradient(15deg, #FEECDE 0%, #fcf2e6 100%);
        border-radius: 16px;
        padding: 24px 12px;
        box-shadow: 1px 1px 2px 1px #0000002e;
        /*    	border: 1px solid #987C66;*/
        /*			border: 1px solid #997663;*/

        border-left: 1px solid white;
        outline: 1px solid #997663;
    }

    .page {
        width: 100%;
        height: 100%;
        border: 2px solid #dab299db;
        border-radius: 14px;
        padding: 74px 26px;
    }

    .paper {
        width: 100%;
        height: 100%;
        background: #E3FBFF;
        border-radius: 3px;
        outline: 2px solid #cfbba8bf;
        box-shadow: 0px 6px 4px 3px #00000014;

        border-style: solid;
        border-color: #FFFBF5;
        border-width: 6px 4px;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
</style>